{% extends 'manage/base/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="row p-5">
                                    <div class="col-md-6">
                                        <img src="../../../static/manage/demo/imgs/user.png">
                                    </div>

                                    <div class="col-md-6 text-right">
                                        <p class="font-weight-bold mb-1">{{ c.name }} {% get_gender c 1 %}</p>
                                        <p class="text-muted">{{ c|get_authority }}</p>
                                    </div>
                                </div>

                                <hr class="my-2">

                                <div class="row pb-5 p-5">
                                    <div class="col-md-6">
                                        <p class="font-weight-bold mb-4">账号信息</p>
                                        <p class="mb-1"><span class="text-muted">姓名: </span> {{ c.name }}</p>
                                        <p class="mb-1"><span class="text-muted">性别: </span> {% get_gender c 0 %}</p>
                                        <p class="mb-1"><span class="text-muted">联系方式: </span> {{ c.phone }}</p>
                                        <p class="mb-1"><span class="text-muted">登录账号: </span> {{ c.account }}</p>
                                        <p class="mb-1"><span class="text-muted">管理范围: </span> {{ c|get_authority }}</p>
                                    </div>
                                </div>


                                <div class="d-flex flex-row-reverse bg-dark text-white p-3">
                                    <div class="text-muted">如需修改信息，请联系超级管理员  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
